    <div class="hero-banner">
      <div class="container">
        <h1 class="hero-title">Aprenda a programar, de graça.</h1>
        <p class="hero-content">
          Aprenda Ruby e PHP aqui nesse site, "de grátis". :-)
        </p>
        <p><a class="btn btn-primary btn-lg btn-hero" href="/login" role="button">Começar!</a></p>
      </div>
    </div>

<section id="presentation">
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h2 class="light">Aprender a programar pode ser fácil.</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

</div>
</section>